page-home {

  ion-navbar {
    .toolbar-background {
      background: linear-gradient(to bottom ,rgba(0, 0, 0, 0.8), rgba(255, 255, 255, 0)) !important;
    }
    .bar-button-menutoggle {
      color: white;
    }

    ion-title {
      .toolbar-title {
        color : white
      }
    }
  }

  ion-content {
    .fixed-content,
    .scroll-content {
      margin: 0px !important;
    }
  }

  // card 
  ion-col {
    height: calc(100vh / 3);
  }
  ion-card {
    position: relative;
    margin: 0px !important;
    width: 100% !important;
    .gradient-filter {
      position: absolute;
      top: 0px;
      left: 0px;
      height: 100%;
      width: 100%;
      background: linear-gradient(to top ,black, rgba(255, 255, 255, 0));
    }
    .post-detail-container {
      position: absolute;
      bottom: 0px;
      left: 0px;
      width: 100%;
      z-index: 1;
      h2 {
        color: white !important;
      }
      p {
        color: lightgrey !important;
      }
    }
  }
}
