// no border on toolbar
ion-header {
  // android
  &::after {
    background-image: none !important
    ;
  }
  // ios
  .toolbar-background {
    border-style: none !important;
  }
}

.gradient-filter {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  background: linear-gradient(to top ,black, rgba(255, 255, 255, 0));
}
