<!--
  Generated template for the CommentsPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>

    <ion-title>
      <h4 [textContent]="'Comments (' + this.commentsLength + ')'"></h4>
    </ion-title>

    <ion-buttons end>
      <button ion-button icon-only (click)="closeComments()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let comment of comments" text-wrap>
      <ion-thumbnail item-left>
        <img [src]="comment.author_avatar_urls['24']" alt="placeholder image">
      </ion-thumbnail>
      <h2 [innerHTML]="comment.author_name"></h2>
      <p [innerHTML]="comment.content.rendered"></p>
    </ion-item>
  </ion-list>

  <ion-footer>
    <ion-grid>
      <ion-row>
        <ion-col width-90 no-padding>
          <ion-textarea placeholder="Type a message"></ion-textarea>
        </ion-col>
        <ion-col width-10 no-padding>
          <button class="transparent-button" ion-button icon-only (click)="postComment()">
            <ion-icon name="send"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-footer>
</ion-content>
