page-post-detail {
  .hero-img-container {
    position: relative;
    .gradient-filter {
      height: calc(100% - 4px);
    }
  }
  .hero-img {
    width: 100%;
  }
  .post-title {
    position: absolute;
    bottom: 0px;
    padding: 16px;
    color: white;
    text-shadow: 1px 2px rgba(50,50,50,0.5);
  }
  ion-content {
    .scroll-content {
      margin-top: 0 !important;
      img {
        width: 100%;
      }
    }
    .selection {
      margin-top: 0 !important;
      p {
        font-size: 1.5rem;
        text-indent: 2rem;
        & img {
          margin-left: -20px;
        }
      }
      img {
        height: auto;
        box-shadow: 1px 1px 6px #607D8B;
      }
    }
  }
}
