slider {
  ion-col {
    padding: 0px !important;
  }
  // change default styling
  .swiper-slide img {
      width: auto;
      height: 100%;
      max-width: none;
      max-height: none;
  }
  .swiper-pagination {
    .swiper-pagination-bullet {
      background-color: white;
    }
  }
  .post-detail-container {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 1;
    h2 {
      color: white !important;
      text-align: start;
    }
    p {
      color: lightgrey !important;
    }
  }
}
